.consoles-home-bg {
  background-color: var(--cor-1);
}

.consoles-home-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

.consoles-home-bg ul {
  margin-top: 40px;
}

.consoles-home-bg li:nth-child(odd) {
  background: linear-gradient(to right, var(--cor-1) 30%, var(--cor-13) 0%);
}

.consoles-home-bg li:nth-child(odd):hover {
  background: linear-gradient(to right, var(--cor-1) 30%, var(--cor-12) 0%);
}

.consoles-home-bg li:nth-child(even) {
  background: linear-gradient(to right, var(--cor-1) 30%, var(--cor-0) 0%);
}

.consoles-home-bg li:nth-child(even):hover {
  background: linear-gradient(to right, var(--cor-1) 30%, var(--cor-3) 0%);
}

.console-home-bg {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px 0px;
  padding: 24px 0px;
  position: relative;
}

.console-home-bg::before {
  content: "";
  display: block;
  width: 52px;
  height: 52px;
  background: url("../../img/dec/dec-bottom-right.svg") no-repeat;
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0.3;
}

.console-home-bg:hover h3::before {
  width: 20px;
}

.consoles-home-bg ul {
  display: grid;
  gap: 20px;
}

.console-home-bg > picture {
  display: grid;
}

.console-home-bg img,
.console-home-bg span {
  grid-area: 1 / 1;
}

.console-home-bg span {
  place-self: start end;
  margin-top: 44px;
  background-color: var(--cor-13);
  color: var(--cor-0);
  padding: 8px 16px;
  border-radius: 4px 0px 0px 4px;
}

.console-home-conteudo {
  place-self: center;
  padding: 20px;
}

.console-home-conteudo h3 {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.console-home-conteudo h3::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 40px;
  background-color: var(--cor-p1);
  margin-right: 8px;
  transition: width 0.5s;
}

.console-home-conteudo h3::after {
  content: "→";
  display: inline-block;
  margin-left: 8px;
}

.console-home-conteudo p {
  margin-bottom: 32px;
}

.console-home-conteudo p.estoque {
  display: flex;
  align-items: center;
}

.console-home-conteudo p.estoque::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../img/dec/check.svg") no-repeat;
  margin-left: 8px;
}

@media (max-width: 1020px) {
  .console-home-conteudo h3 {
    font-size: 2rem;
  }

  .console-home-conteudo p {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .console-home-bg::before {
    display: none;
  }

  .consoles-home-bg li:nth-child(odd),
  .consoles-home-bg li:nth-child(even) {
    background: var(--cor-0);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }

  .consoles-home-bg li:nth-child(odd):hover,
  .consoles-home-bg li:nth-child(even):hover {
    background: var(--cor-2);
  }

  .consoles-home-bg ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
    gap: 32px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .console-home-bg {
    grid-template-columns: minmax(260px, 1fr);
    gap: 0px;
    padding: 0px;
  }

  .console-home-conteudo {
    place-self: start;
  }

  .console-home-conteudo h3 {
    font-size: 1.8rem;
    color: var(--cor-10);
  }
  .console-home-conteudo h3::before {
    width: 8px;
    height: 20px;
  }
  .console-home-conteudo p {
    display: none;
  }
  .console-home-conteudo h3::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .consoles-home-container {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .console-home-conteudo h3 {
    font-size: 1.4rem;
  }
  .console-home-conteudo h3::before {
    height: 20px;
    width: 8px;
  }
}
