.contato-bg {
  background: linear-gradient(var(--cor-13) 350px, var(--cor-0) 0px);
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: flex-start;
}

.contato h2 {
  margin-bottom: 24px;
}

.contato address {
  margin-bottom: 60px;
  position: relative;
}

.contato-info {
  position: relative;
}

.contato address::after {
  content: "";
  display: block;
  width: 52px;
  height: 52px;
  position: absolute;
  bottom: -100px;
  background: url("../../img/dec/dec-bottom-left.svg") no-repeat;
  opacity: 0.1;
}

@media (max-width: 800px) {
  .contato-bg {
    background: var(--cor-13);
  }
  .contato {
    grid-template-columns: 1fr;
  }

  .contato address {
    margin-bottom: 30px;
  }

  #contato .form label {
    color: var(--cor-0);
  }
  .contato address::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .form div:first-of-type,
  .form div:nth-of-type(2) {
    grid-column: 1/-1;
  }

  .contato h2 {
    font-size: 2rem;
  }

  .contato a {
    font-size: 1.2rem;
  }
}
